[submodule "00-libft"]
	path = 00-libft
	url = https://github.com/Surfi89/libft.git
[submodule "01-get_next_line"]
	path = 01-get_next_line
	url = https://github.com/Surfi89/get_next_line.git
[submodule "01-ft_printf"]
	path = 01-ft_printf
	url = https://github.com/Surfi89/ft_printf.git
[submodule "01-Born2beroot"]
	path = 01-Born2beroot
	url = https://github.com/Surfi89/Born2beroot.git
